<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team8.everymarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="매일장"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="주문내역"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasketActivity"
            android:label="장바구니"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".FarmActivity"
            android:label="가판대">

        </activity>
    </application>

</manifest>